*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background: #1a1a1a;
	color: white;
}

h2 {
	color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 28px;
	font-weight: bold;
}

.wr {
	width: 700px;
	font-size: 18px;
}

.dnt {
	width: 700px;
	font-size: 22px;
	height: 250px;
	padding-top: 30px;
}


.about {
	background: #1a1a1a;
	display: block;
}

.sitedescr {
	height: 320px;
}

footer{
	text-align:center;
	height: 90px;
	background: #303030;
	padding-top: 30px;
}

#mainmenu {
    background: #444444;
    position: relative;
    overflow: hidden;
    height: 80px;
}
#mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    font: 16px Arial, Helvetica, sans-serif;
    height: 80px
}
#mainmenu ul li {
    position: relative;
    left: -50%;
    float: left;
    height: 80px;
}
#mainmenu ul li a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 80px;
	border-right: 1px solid #3a3a3a;
	-moz-transition: all 0.3s 0.01s ease; 
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;
}
#mainmenu ul li a:hover {
    background-color: #89bffb;
}

#button ul {
    list-style: none;
    margin: 10 px;
    padding-top: 30px;
    position: relative;
    left: 50%;
    float: left;
    font-size: 20px;
    height: 50px;
}

#button ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0 35px;
    line-height: 50px;
	border: 1px solid #6a84a0;
	border-radius: 7px;
	-moz-transition: all 0.3s 0.01s ease; 
	-o-transition: all 0.3s 0.01s ease;
	-webkit-transition: all 0.3s 0.01s ease;

}

#button ul li {
	position: relative;
	left: -50%;
    float: left;
	padding: 0 20px;
    height: 50px;
}

#button ul li a:hover {
    background-color: #89bffb;
} 


h3{
	padding: 20px 0px 10px 35px;
	font-size: 30px;
}

span{
	padding: 20px 0px 10px 35px;
	float: left;
	font-size: 18px;
}

#gameblock{
	width:100%;
	background: #444444;
	height: 300px;
}

.gblock1{
	float:left;
	height: 230px;
	width:50%;
}

.gblock2{
	float:right;
	height: 230px;
	width:50%;
	padding: 45px 0 0px 170px;
}

.gblock3{
	float:left;
	height: 70px;
	width:50%;
	padding-left: 10px;
	margin-left: 200px;
}
