h1 {
color: #c71212;
border: 1px solid grey;
padding: 10px;
border-radius: 10px;
background-color: white;
}

h4 {
color: blue;
border: 1px solid grey;
padding: 10px;
border-radius: 10px;
background-color: white;
}

body {
	background-image:url("background.jpg");
	width: 80%;
	margin-left: 135px;
	color: white;
}
